<span *ngIf="isLoggedIn" (click)="onItemActive()" class="active" [ngClass]="{'not-active': !item.isActive}">
  <span *ngIf="!item.isActive; else notActive">Aktiivseks</span>
  <ng-template #notActive>Mitteaktiivseks</ng-template>
</span>

<img class="item-img" routerLink="view/{{item.id}}" src="{{ item.imgSrc }}">
  <!-- <div class="add-to-cart-button-wrapper">
    <div class="add-to-cart-button">
      <span (click)="onRemoveFromCart(item)"><img src="assets/minus.svg"></span>
      <span>___</span>
      <span (click)="onAddToCart(item)"><img src="assets/plus.svg"></span>
    </div>
  </div> -->
<div class="item-title">{{ item.title | translate | shortenTitle }}</div>
<div class="item-price">{{ item.price | thousandSeparator }} €</div>

<!-- <div *ngIf="isSmaller == 'fromHome'">TAHAN NÄIDATA</div>
<div *ngIf="isSmaller == 'fromAdmin'">TAHAN TEISES NÄIDATA</div>
<img [ngClass]="{'smaller-class-for-picture': isSmaller == 'fromHome', 'larger-class': isSmaller == 'fromAdmin'}" src="" alt=""> -->