<div 
  class="empty-cart-button" 
  (click)="onEmptyCart()" 
  *ngIf="cartItems.length > 0">
  Tühjenda ostukorv</div>

<div class="items-wrapper">
  <div class="item" *ngFor="let item of cartItems; let i = index">
    <img class="item-img" src="{{ item.cartItem.imgSrc }}">
    <div class="item-title">{{ item.cartItem.title }} (suurus {{item.cartSize}})</div>
    <div class="item-price">{{ item.cartItem.price | thousandSeparator }} €</div>
    <span class="add-to-cart-button">
      <span (click)="onRemoveFromCart(item)"><img src="assets/minus.svg"></span>
      <div>{{ item.count }} tk</div>
      <span (click)="onAddToCart(item)"><img src="assets/plus.svg"></span>
    </span>
    <div class="item-price">{{ item.count * item.cartItem.price | thousandSeparator }} €</div>
    <img class="delete-from-cart-button" (click)="onDeleteFromCart(i)" src="assets/bin.svg" alt="">
  </div>
</div>

<div 
  class="sum-of-cart" 
  *ngIf="cartItems.length > 0">KOKKU: {{ sumOfCart | thousandSeparator }} €</div>

<div class="empty-cart" *ngIf="cartItems.length == 0">
  <img src="assets/empty_cart.svg">
  <div>Ostukorv on tühi</div>
</div>