<div 
  class="empty-cart-button" 
  (click)="onEmptyCart()" 
  *ngIf="cartItems.length > 0">
  Tühjenda ostukorv</div>

<div class="items-wrapper">
  <div class="item" *ngFor="let item of cartItems; let i = index">
    <img src="{{ item.cartItem.imgSrc }}">
    <div class="item-title">{{ item.cartItem.title }}</div>
    <div class="item-price">{{ item.cartItem.price | thousandSeparator }} €</div>
    <span (click)="onRemoveFromCart(item.cartItem)">-</span>
    <div>{{ item.count }} tk</div>
    <span (click)="onAddToCart(item.cartItem)">+</span>
    <div>{{ item.count * item.cartItem.price | thousandSeparator }} €</div>
    <img (click)="onDeleteFromCart(i)" class="delete-from-cart-button" src="assets/bin.svg" alt="">
  </div>
</div>

<div 
  class="sum-of-cart" 
  *ngIf="cartItems.length > 0">KOKKU: {{ sumOfCart | thousandSeparator }} €</div>

<div class="empty-cart" *ngIf="cartItems.length == 0">
  <img src="assets/empty_cart.svg">
  <div>Ostukorv on tühi</div>
</div>