<button class="main-button back" routerLink="/admin">{{'Tagasi' | translate}}</button>

<form (ngSubmit)="onSubmit(itemEditForm)" [formGroup]="itemEditForm">
    <label>Nimetus</label><br>
    <input type="text" formControlName="title" placeholder="Toote nimetus" required><br>
    <label>Pilt</label><br>
    <input type="text" formControlName="imgSrc" placeholder="Toote pilt" required><br>
    <label>Hind</label><br>
    <input type="number" formControlName="price" placeholder="Toote hind" required><br>
    <label>Kategooria</label><br>
    <input type="text" formControlName="category" placeholder="Toote kategooria" required><br>
    <label>Ribakood</label><br>
    <input type="number" formControlName="barcode" placeholder="Toote ribakood"><br>
    <label>Kirjeldus</label><br>
    <input type="text" formControlName="description" placeholder="Toote kirjeldus"><br>
    <label>Päritolumaa</label><br>
    <input type="text" formControlName="producer" placeholder="Toote päritolumaa"><br>
    <label>Suurus</label><br>
    <input type="text" formControlName="size" placeholder="Toote päritolumaa"><br>
    <label>Toode aktiivne</label>
    <input type="checkbox" formControlName="isActive"><br>
   
   
    <label>Suurus</label><br>
    <span *ngFor="let size of sizes; let i = index">
        <label>{{size}}</label>
        <input type="checkbox" [checked]="true" (change)="onSizeChanged(size, $event)">
    </span>
   
    <br>
    <button class="main-button add" [disabled]="itemEditForm.invalid" type="submit">Muuda eset</button>
</form>