<!-- {{ kuupaev | date:'short' }} fullDate, shortDate, short, full, mediumDate -->
<!-- {{ 150000 | currency:'EUR' }} -->

<!-- uppercase | lowercase | titlecase  -->

<!-- | json -->

<div *ngFor="let item of items | uniqueCategory">
    {{ item }}
</div>

<div class="filter-bar">
  <div class="filter-name">{{'Järjesta:' | translate  }}</div>
  <div class="filter-value price" (click)="onSortTitle()">{{'Tähestiku järgi' | translate}}</div>
  <div class="filter-value title" (click)="onSortPrice()">Hinna järgi</div>
</div>

<div class="items-wrapper">
  <div class="item" *ngFor="let item of items; let i = index">
    <img routerLink="view/{{i}}" src="{{ item.imgSrc }}">
    <div class="add-to-cart-button-wrapper">
      <div class="add-to-cart-button">
        <span (click)="onRemoveFromCart(item)">-</span>
        <span>___</span>
        <span (click)="onAddToCart(item)">+</span>
      </div>
    </div>
    <div class="item-title">{{ item.title | translate | shortenTitle }}</div>
    <div class="item-price">{{ item.price | thousandSeparator }} €</div>
  </div>
</div>